.blog {
    font-family: "NotoNaskhArabic", serif;
    .description-cont{
        font-size: 18px;
        font-weight: 400;
        color: #404040;
        text-align: justify !important;
        font-family: "NotoNaskhArabic", serif;
        *{
            font-family: "NotoNaskhArabic", serif;
            text-align: justify !important;
        }
        p:first-of-type{
            font-size: 20px;
            font-weight: 700;
            color: #404040;
        }
        a{
            color: $main;
            font-size: 18px;
            font-weight: 700;

        }
        ol,ul{
            // list-style-type: disc;
            padding: 25px;
            li {
                font-size: 18px;
                font-weight: 400;
                color: #404040;
                font-family: "NotoNaskhArabic", serif;
                position: relative;
                margin-bottom: 10px;
            }
            
            li::after {
                content: "";
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                inset-inline-start: -18px; /* Adjust for RTL support */
                width: 12px;
                height: 12px;
                border-radius: 50%;
                background-color: rgba(0,122,255,.4);
            }
            
            
        }
    }
    .title-cont{
        font-family: "NotoNaskhArabic", serif;
        font-size: 24px;
        font-weight: 700;

    }
    i{
        font-family: "Font Awesome 6 Free";
    }
    .date-span{
        font-family: "NotoNaskhArabic", serif;
    }

}

.blog .container>.img-cont {
    margin: 56px 0;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    max-height: calc(100vh - 148px);
    position: relative;

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.2);
    }

    .overlay:hover {
        opacity: 0;
    }

    img {
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover;
    }
}