.explore {
    display: flex;
    align-items: center;
    justify-content: center;
    .overll {
        background: rgb(0, 0, 0);
        background: linear-gradient(90deg, rgba(0, 0, 0, .4) 0%, rgba(0, 0, 0, 0) 100%);
        padding: 64px 0;
        width: 100%;
        .padg {
            background-color: #714D02;
            padding: 10px 24px;
            border-radius: 16px;
            width: fit-content;
            margin-bottom: 16px;
            
            h3{
                color: $white;
                font-family: '--font-merriweather';
                font-size: 32px;
                font-weight: 700;
                @media screen and (max-width: 767px) {
                    font-size: 16px;

                }
            }
        }
        h2{
            font-size: 42px;
            font-weight: 700;
            color: $white;
            margin-bottom: 32px;
            max-width: 550px;
            @media screen and (max-width: 767px) {
                font-size: 24px;
            }
        }
        a{
            font-size: 20px;
            font-weight: 700;
            @media screen and (max-width: 767px) {
                width: 100%;
                text-align: center;
            }
        }
        a:hover{
            background-color: $sec;
        }
    }
}