@font-face {
    font-family: 'Readex Pro';
    src: url('ReadexPro-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'The Year of Handicrafts';
    src: url('TheYearofHandicrafts-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'The Year of The Camel';
    src: url('TheYearofTheCamel-ExtraBold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

