:root {
  --main-color: #025AB4 ;
  --main-hover: #42A8C3;
  --sec-color: #1AC5BD;
  --text-color: ##333333;
  --back-color: #F1F5F9;
  --black-color: #000;
  --white-color: #fff;
  --border-color: #f0f0f0;
  --border-radius: 24px;
  font-size: 16px;
}

@font-face {
  font-family: "Cairo";
  src: url("../webfonts/Cairo/Cairo-Bold.woff2") format("woff2"), url("../webfonts/Cairo/Cairo-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Cairo";
  src: url("../webfonts/Cairo/Cairo-Black.woff2") format("woff2"), url("../webfonts/Cairo/Cairo-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Cairo";
  src: url("../webfonts/Cairo/Cairo-ExtraBold.woff2") format("woff2"), url("../webfonts/Cairo/Cairo-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Cairo";
  src: url("../webfonts/Cairo/Cairo-Regular.woff2") format("woff2"), url("../webfonts/Cairo/Cairo-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Cairo";
  src: url("../webfonts/Cairo/Cairo-Light.woff2") format("woff2"), url("../webfonts/Cairo/Cairo-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Cairo";
  src: url("../webfonts/Cairo/Cairo-Medium.woff2") format("woff2"), url("../webfonts/Cairo/Cairo-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Cairo";
  src: url("../webfonts/Cairo/Cairo-SemiBold.woff2") format("woff2"), url("../webfonts/Cairo/Cairo-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Cairo";
  src: url("../webfonts/Cairo/Cairo-ExtraLight.woff2") format("woff2"), url("../webfonts/Cairo/Cairo-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: "Cairo";
  box-sizing: border-box;
  font-style: normal;
  font-weight: 400;
  background-color: var(--white-color);
}

.overflow {
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
  transition: all 0.3s ease;
  font-family: "Cairo";
}

figure {
  margin: 0;
}

img {
  image-rendering: -webkit-optimize-contrast !important;
  max-width: 100%;
}

.ul-es {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none !important;
}

.ancor {
  text-decoration: none;
}
.ancor:hover {
  text-decoration: none;
}

/*style scroll bar*/
/* width */
::-webkit-scrollbar {
  width: 6px;
  height: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--main-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--main-hover);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--main-hover);
}

/*preloader*/
.preloader {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.progress {
  position: fixed;
  z-index: 99999;
  top: 0;
  width: 100%;
  height: 5px;
  background-color: #f7f7f7;
  background-image: linear-gradient(to bottom, #f5f5f5, #f9f9f9);
  background-repeat: repeat-x;
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
  overflow: hidden;
}

.progress-bar {
  animation: progress 6s ease infinite;
  padding: 1px;
  color: rgb(255, 255, 255);
  background-image: linear-gradient(135deg, var(--main-hover), var(--main-color));
  /* border-radius: 4px 4px 4px 4px; */
}

html {
  scrollbar-width: thin;
  scrollbar-color: var(--main-color) #fff;
  scroll-behavior: unset !important;
}

/*style scroll bar*/
/* width */
::-webkit-scrollbar {
  width: 6px;
  height: 1px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--white-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--main-color);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--main-hover);
}

* {
  margin: 0;
  padding: 0;
}

html[dir=ltr] .progress-bar {
  background-image: linear-gradient(135deg, var(--main-color), var(--main-hover));
}

@keyframes progress {
  from {
    width: 0;
    color: rgba(255, 255, 255, 0);
  }
  to {
    width: 100%;
    color: rgb(255, 255, 255);
  }
}
/*preloader*/
@media only screen and (max-width: 767px) {
  .container,
  .container-fluid,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    padding-right: 20px;
    padding-left: 20px;
  }
}
@media only screen and (min-width: 1200px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1170px;
  }
}
@media only screen and (min-width: 1440px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1352px;
  }
}
/*lazyload*/
.lazy-img {
  transition: 0.5s;
}

.loading-img {
  background-color: #fafafa !important;
  position: relative;
  overflow: hidden;
}

.loading-img img {
  opacity: 0 !important;
  filter: blur(40px);
}

.loaded-img img {
  opacity: 1;
  filter: blur(0);
}

.fixed-what {
  position: fixed;
  bottom: 10px;
  inset-inline-start: 10px;
  z-index: 10;
  text-decoration: none !important;
}

.fixed-what i {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #4dc247;
  font-size: 36px;
  color: var(--white-color);
  cursor: pointer;
  box-shadow: 0 0 0 0 rgba(77, 194, 71, 0.5);
  box-shadow: 0 0 0 0 rgba(77, 194, 71, 0.4);
  animation: pulseWhats 2s infinite;
  transition: all 0.4s ease-in-out;
}

@keyframes pulseWhats {
  0% {
    box-shadow: 0 0 0 0 rgb(77, 194, 71);
  }
  70% {
    box-shadow: 0 0 0 10px rgba(77, 194, 71, 0);
  }
  100% {
    box-shadow: 0 0 0 50px rgba(77, 194, 71, 0);
  }
}
.fixed-what i:hover {
  text-decoration: none;
  color: var(--white-color);
  box-shadow: inset 0 0 0 2em var(--main-hover);
}

/*                                 arrow-top                           */
.arrow-top {
  position: fixed;
  bottom: 20px;
  inset-inline-start: 20px;
  display: none;
  z-index: 10;
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 50%;
  background-color: var(--main-color);
  font-size: 18px;
  border: none;
  outline: none !important;
  color: var(--white-color);
  text-decoration: none !important;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.arrow-top:hover, .arrow-top:focus {
  background-color: var(--main-hover);
  color: var(--white-color);
}

@media only screen and (max-width: 767px) {
  .arrow-top {
    bottom: 15px;
    inset-inline-start: 15px;
  }
}
.custom-pagention {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 40px;
  margin-bottom: 40px;
  gap: 20px;
}
.custom-pagention div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.custom-pagention a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  color: #191c1f;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  line-height: 40px;
  background-color: var(--white-color);
  border: 1px solid #e4e7e9;
  text-decoration: none !important;
  transition: all 0.3s ease-in-out;
}
.custom-pagention a.arrow {
  border-color: var(--main-hover);
  color: var(--main-hover);
}

.custom-pagention a.active {
  color: var(--white-color);
  background-color: var(--main-hover);
  border-color: var(--main-hover);
}

.custom-pagention a:hover {
  color: var(--white-color);
  background-color: var(--main-hover);
}

.custom-pagention a i {
  font-size: 20px;
}

html[dir=ltr] .custom-pagention a i {
  transform: scaleX(-1);
}

.breadcrumb-sec {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 0;
}

.page-head {
  font-size: 24px;
  color: var(--white-color);
  font-weight: 700;
  margin-bottom: 15px;
  padding: 0;
  text-transform: capitalize;
  text-align: center;
}

ul.breadcrumb {
  background-color: transparent;
  border: none;
  border-radius: 0;
  position: relative;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

ul.breadcrumb li {
  padding: 0 10px;
}

ul.breadcrumb li a,
ul.breadcrumb li span,
ul.breadcrumb li {
  transition: all 0.3s ease-in-out;
  text-transform: capitalize;
  font-size: 14px;
  color: #808080;
  font-weight: 400;
  text-decoration: none !important;
}

ul.breadcrumb li span {
  color: var(--black-color);
}
ul.breadcrumb li span::after {
  display: none;
}

ul.breadcrumb li a:hover {
  color: var(--main-hover);
}

@media (max-width: 991px) {
  .breadcrumb-sec {
    padding: 30px 0;
  }
}
body {
  overflow-x: hidden;
}

header {
  padding-top: 18px;
  padding-bottom: 18px;
  box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.15);
}
header .container {
  position: relative;
}
header .logo-img {
  height: 56px;
  width: auto;
}
header .lang-btn {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  cursor: pointer;
}
header .links {
  min-width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 35px;
}
header .links a {
  color: #7C7C7C;
  font-size: 16px;
  font-weight: 600;
  line-height: 29.98px;
}
header .links .active {
  color: #181818;
}
header .links a:hover {
  color: var(--sec-color);
}
header .links .book-link {
  padding-left: 32px;
  padding-right: 32px;
  background-color: var(--sec-color);
  border-radius: 8px;
  height: 55px;
  line-height: 55px;
  color: var(--white-color);
}
header .links .book-link:hover {
  background-color: var(--main-color);
  color: var(--white-color);
}
header .menu-bars {
  display: none;
  cursor: pointer;
}
header .menu-bars a {
  width: 100%;
}
header .hidden {
  display: none;
}
header .side-menu {
  position: absolute;
  top: 100%;
  inset-inline-end: 15px;
  flex-direction: column;
  padding: 10px;
  border-radius: 8px;
  background-color: var(--white-color);
  box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.15);
  z-index: 10;
  min-width: 300px;
  align-items: center;
  display: flex;
  opacity: 0;
  visibility: hidden;
}
header .side-menu .links {
  flex-direction: column;
  gap: 10px;
  width: 100%;
  align-items: center;
}
header .side-menu .links a {
  width: 100%;
  text-align: center;
  border-radius: 8px;
}
header .side-menu .links a:hover {
  background-color: var(--main-color);
  color: var(--white-color);
}
header .side-menu .links .book-link:hover {
  background-color: var(--main-color);
}
header .side-menu-active {
  opacity: 1;
  visibility: visible;
}

@media (max-width: 676px) {
  header .links {
    display: none;
  }
  header .side-menu .links {
    display: flex;
  }
  header .menu-bars {
    display: block;
  }
  header .hidden {
    display: none;
  }
}
.hero {
  margin-bottom: 47px;
}
.hero .img-cont {
  width: 100%;
  min-height: 300px;
}
.hero .img-cont img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.hero .overlay {
  display: flex;
  flex-direction: column;
  gap: 60px;
  padding-top: 56px;
  padding-bottom: 56px;
}
.hero .overlay .welcome {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.hero .overlay .hero-text {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.hero .overlay .hero-text h1 {
  max-width: 450px;
  font-size: 56px;
  font-weight: 600;
  color: var(--white-color);
}
.hero .overlay .hero-text h1 span {
  background: linear-gradient(259.5deg, #87DCB5 -11.8%, #1AC5BD 29.76%, #025AB4 68.44%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.hero .overlay .hero-text p {
  font-size: 32px;
  font-weight: 600;
  color: var(--white-color);
  margin-bottom: 24px;
}
.hero .overlay .hero-text a {
  background-color: var(--sec-color);
  color: var(--white-color);
  padding: 10px 32px;
  border-radius: 5px;
  width: -moz-fit-content;
  width: fit-content;
}
.hero .overlay .hero-text a:hover {
  background-color: var(--main-color);
}
.hero .overlay .features {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
  align-items: center;
}
.hero .overlay .features .feature {
  display: flex;
  flex-direction: column;
  padding: 16px 24px;
  border-radius: 10px;
  gap: 16px;
  background: linear-gradient(116.84deg, #FFFAFA 64.25%, #1AC5BD 179.19%);
  transition: background-color 1000ms linear;
}
.hero .overlay .features .feature p {
  color: #181818;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 0;
}
.hero .overlay .features .feature img {
  width: 50px;
  height: 50px;
}

.rtl {
  direction: rtl;
}

.ltr {
  direction: ltr;
}

* {
  transition: all 0.3s ease-in-out;
}

html {
  scroll-behavior: smooth;
}

.paths {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 48px;
}
.paths .title {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.paths .title h2 {
  color: #141414;
  font-size: 32px;
  font-weight: 700;
  margin: 0;
}
.paths .title p {
  color: #5A5A5A;
  font-size: 24px;
  font-weight: 400;
  margin: 0;
}
.paths .path-card {
  padding: 20px 16px;
  border-radius: 8px;
  box-shadow: 0px 0px 14px rgba(50, 50, 50, 0.17);
}
.paths .path-card .img-cont {
  width: 100%;
  aspect-ratio: 440/384;
  height: auto;
  margin-bottom: 16px;
  position: relative;
}
.paths .path-card .img-cont img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px;
}
.paths .path-card .img-cont .duration {
  position: absolute;
  top: 12px;
  inset-inline-start: 12px;
  border-radius: 8px;
  padding: 10px;
  margin: 0;
  background-color: var(--main-color);
  color: var(--white-color);
  font-size: 12px;
  font-weight: 500;
}
.paths .path-card h3 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 16px;
  color: #333;
}
.paths .path-card p {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 24px;
  color: #323232;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /* Number of lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.paths .path-card .small-imgs-slider {
  width: 100%;
  padding: 8px;
  border-radius: 8px;
  background-color: rgba(2, 90, 180, 0.1);
  margin-bottom: 32px;
}
.paths .path-card .small-imgs-slider .swiper-wrapper {
  padding: 0;
}
.paths .path-card .small-imgs-slider .small-swiper-img-name {
  padding: 8px;
  border-radius: 8px;
  background-color: var(--white-color);
}
.paths .path-card .small-imgs-slider .small-swiper-img-name h6 {
  color: #080808;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 0;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  /* Number of lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}
.paths .path-card .small-imgs-slider .samll-img-cont {
  width: 100%;
  aspect-ratio: 1/1;
}
.paths .path-card .small-imgs-slider .samll-img-cont img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
}
.paths .path-card .view-detials {
  width: 100%;
  color: #FFFAFA;
  background-color: var(--main-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  padding: 12px 0;
  font-size: 16px;
  font-weight: 600;
}
.paths .path-card .view-detials:hover {
  background-color: var(--sec-color);
}
.paths .path-swiper .swiper-wrapper {
  padding: 24px 10px;
}

.loading-page {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 322px);
}
.loading-page img {
  max-width: 100px;
  max-height: 100px;
  width: auto;
}

.loading-logo {
  animation-name: loading;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation: loading 1s ease infinite;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.about-section {
  background-color: #E2E9F0;
  padding-top: 40px;
  padding-bottom: 40px;
}
.about-section .about-cont {
  display: flex;
  flex-direction: column;
  gap: 48px;
}
.about-section .about-cont .analysis {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.about-section .about-cont .analysis h3 {
  font-size: 32px;
  font-weight: 700;
  color: #141414;
}
.about-section .about-cont .analysis .counters {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.about-section .about-cont .analysis .counters .counter {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}
.about-section .about-cont .analysis .counters .counter h4 {
  font-size: 32px;
  font-weight: 700;
  color: #025AB4;
}
.about-section .about-cont .analysis .counters .counter span {
  color: #3C3C3C;
  font-size: 56px;
}
.about-section .about-cont .analysis .counters .counter h5 {
  color: #7B7A79;
  font-size: 24px;
  font-weight: 600;
}
.about-section .media {
  display: flex;
  align-items: center;
  gap: 48px;
}
.about-section .media .vid {
  position: relative;
}
.about-section .media .vid video {
  border-radius: 25px;
  width: 100%;
  height: auto;
}
.about-section .media .vid iframe {
  width: 100%;
  border-radius: 25px;
  aspect-ratio: 560/315;
}
.about-section .media .play-btn {
  position: absolute;
  top: 0;
  left: 0;
  inset-inline-end: 0;
  inset-inline-start: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  border-radius: 25px;
}
.about-section .media .pause-bttn {
  opacity: 0;
}
.about-section .media .play-btn:hover .pause-bttn {
  opacity: 1;
}
.about-section .text {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.about-section .text h2 {
  color: #141414;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 0;
}
.about-section .text p {
  color: #5A5A5A;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 0;
  line-height: 1.7;
}
@keyframes dance {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-11deg);
  }
}
.genGeb {
  background-color: rgba(252, 252, 252, 0.9);
}
.genGeb .genSection {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  gap: 40px;
}
.genGeb .genSection .l-side {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 60%;
}
.genGeb .genSection .l-side img {
  max-width: 330px;
  border-radius: 20px;
  width: 100%;
}
.genGeb .genSection .l-side h2 {
  font-size: 40px;
}
.genGeb .genSection .l-side a:hover {
  background-color: var(--sec-color);
}
.genGeb .genSection .img-cont {
  width: 40%;
  border-radius: 20px;
  aspect-ratio: 417/235;
  overflow: hidden;
  position: relative;
}
.genGeb .genSection .img-cont .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}
.genGeb .genSection .img-cont .overlay:hover {
  opacity: 0;
}
.genGeb .genSection .img-cont img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
}

.AppExplore {
  background-color: rgba(255, 255, 255, 0.7);
}
.AppExplore .img-cont {
  width: 30%;
  aspect-ratio: 365/744;
}
.AppExplore .l-side {
  width: 70%;
}
.AppExplore .genSection {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  gap: 122px;
}
.AppExplore .genSection .l-side {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 70%;
}
.AppExplore .genSection .l-side img {
  max-width: 100%;
  width: 330px;
  border-radius: 20px;
}
.AppExplore .genSection .l-side h2 {
  font-size: 40px;
}
.AppExplore .genSection .l-side a {
  width: -moz-fit-content;
  width: fit-content;
}
.AppExplore .genSection .l-side .app-dowmload {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
@media screen and (max-width: 767px) {
  .AppExplore .genSection .l-side .app-dowmload {
    flex-direction: row;
  }
  .AppExplore .genSection .l-side .app-dowmload a {
    width: 100%;
    overflow: hidden;
  }
  .AppExplore .genSection .l-side .app-dowmload a img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
.AppExplore .genSection .img-cont {
  width: 30%;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}
.AppExplore .genSection .img-cont .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}
.AppExplore .genSection .img-cont .overlay:hover {
  opacity: 0;
}
.AppExplore .genSection .img-cont img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
}

footer {
  padding-top: 20px;
  padding-bottom: 20px;
}
footer .footer-cont {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid var(--main-color);
  padding-top: 32px;
}
footer .footer-cont i {
  font-size: 24px;
  color: #025AB4;
}
footer .footer-cont .copyRight {
  display: flex;
  align-items: center;
  gap: 6px;
}
footer .footer-cont .copyRight img {
  width: 13px;
  height: 13px;
}
footer .footer-cont .copyRight p {
  color: rgba(2, 90, 180, 0.6);
  font-size: 16px;
  font-weight: 500;
}
footer .footer-cont .social {
  display: flex;
  align-items: center;
  gap: 27px;
}

@media (max-width: 991px) {
  .hero .overlay .iPhones {
    display: none;
  }
  .hero .overlay .features {
    grid-template-columns: repeat(2, 1fr);
  }
  .hero .overlay .hero-text {
    width: 100%;
  }
  .about-section .media {
    flex-direction: column;
  }
}
@media (max-width: 767px) {
  .genGeb .genSection {
    padding: 20px;
  }
  .genGeb .genSection .l-side {
    width: 100%;
  }
  .genGeb .genSection .img-cont {
    width: 100%;
  }
  .hero .overlay .features {
    grid-template-columns: repeat(1, 1fr);
  }
  .hero .overlay .hero-text {
    width: 100%;
  }
  .hero .overlay .hero-text h1 {
    font-size: 32px;
    max-width: 200px;
  }
  .hero .overlay .hero-text p {
    max-width: 200px;
    font-size: 16px;
  }
  .hero .overlay .hero-text a {
    font-size: 20px;
    width: 100%;
    text-align: center;
  }
  .about-section .about-cont .analysis .counters {
    flex-direction: column;
    gap: 60px;
  }
  footer .footer-cont {
    flex-direction: column;
    padding-top: 0%;
    border: none;
    gap: 25px;
  }
  footer .copyRight {
    padding-top: 16px;
    border-top: 1px solid var(--main-color);
    order: 2;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  .genSection {
    flex-direction: column;
    gap: 40px;
  }
  .genSection .img-cont {
    order: 1;
    width: 100%;
  }
  .genSection .l-side {
    order: 2;
    width: 100%;
  }
  .genSection .l-side h2 {
    font-size: 32px;
  }
  .genSection .l-side p {
    font-size: 16px;
  }
  .genSection .l-side a {
    width: 100%;
    text-align: center;
  }
  .AppExplore .img-cont {
    display: none;
  }
  .AppExplore .genSection .l-side {
    width: 100%;
  }
}
@media (max-width: 676px) {
  .paths .path-card {
    padding: 10px 8px;
    border-radius: 8px;
    box-shadow: 0px 0px 7px rgba(50, 50, 50, 0.27);
  }
  .paths .path-card .small-imgs-slider .small-swiper-img-name {
    padding: 4px;
    border-radius: 8px;
    background-color: var(--white-color);
  }
}
#page {
  display: flex;
  justify-content: center;
  align-items: center;
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#h3 {
  color: white;
}

#ring {
  width: 190px;
  height: 190px;
  border: 1px solid transparent;
  border-radius: 50%;
  position: absolute;
}

#ring:nth-child(1) {
  border-bottom: 8px solid rgb(255, 141, 249);
  animation: rotate1 2s linear infinite;
}

@keyframes rotate1 {
  from {
    transform: rotateX(50deg) rotateZ(110deg);
  }
  to {
    transform: rotateX(50deg) rotateZ(470deg);
  }
}
#ring:nth-child(2) {
  border-bottom: 8px solid rgb(255, 65, 106);
  animation: rotate2 2s linear infinite;
}

@keyframes rotate2 {
  from {
    transform: rotateX(20deg) rotateY(50deg) rotateZ(20deg);
  }
  to {
    transform: rotateX(20deg) rotateY(50deg) rotateZ(380deg);
  }
}
#ring:nth-child(3) {
  border-bottom: 8px solid rgb(0, 255, 255);
  animation: rotate3 2s linear infinite;
}

@keyframes rotate3 {
  from {
    transform: rotateX(40deg) rotateY(130deg) rotateZ(450deg);
  }
  to {
    transform: rotateX(40deg) rotateY(130deg) rotateZ(90deg);
  }
}
#ring:nth-child(4) {
  border-bottom: 8px solid rgb(252, 183, 55);
  animation: rotate4 2s linear infinite;
}

@keyframes rotate4 {
  from {
    transform: rotateX(70deg) rotateZ(270deg);
  }
  to {
    transform: rotateX(70deg) rotateZ(630deg);
  }
}
.path {
  padding-top: 40px;
  padding-bottom: 40px;
}
.path .pathHead {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}
.path .pathHead h1 {
  color: #141414;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 0;
}
.path .pathHead a {
  background-color: var(--main-color);
  padding: 20px 40px;
  color: #FFFAFA;
  border-radius: 5px;
}
.path .pathHead a:hover {
  background-color: var(--sec-color);
  color: #FFFAFA;
}
.path .pathdata {
  display: flex;
  gap: 22px;
  margin-bottom: 40px;
}
.path .pathdata .imgs-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr;
  gap: 20px;
}
.path .pathdata .imgs-grid a {
  width: 100%;
  height: 100%;
}
.path .pathdata .imgs-grid a figure {
  width: 100%;
  height: 100%;
}
.path .pathdata .imgs-grid a figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.path .pathdata .imgs-grid :first-child {
  grid-column: 1/3;
  grid-row: 1/3;
}
.path .pathdata .imgs-grid .img-cont {
  display: none;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  overflow: hidden;
  cursor: pointer;
}
.path .pathdata .imgs-grid .img-cont .rest {
  display: none;
}
.path .pathdata .imgs-grid .img-cont img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.path .pathdata .imgs-grid :nth-child(1) {
  display: block;
}
.path .pathdata .imgs-grid :nth-child(2) {
  display: block;
}
.path .pathdata .imgs-grid :nth-child(3) {
  display: block;
  position: relative;
}
.path .pathdata .imgs-grid :nth-child(3) .rest {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(2, 90, 180, 0.6);
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FCFCFC;
  font-size: 40px;
  font-weight: 700;
}
.path .pathdata .imgs-grid :nth-child(3) .rest a {
  display: flex;
  align-items: center;
  justify-content: center;
}
.path .pathdata .places {
  padding: 25px;
  background-color: rgba(30, 198, 188, 0.1);
  border-radius: 30px;
  height: -moz-fit-content;
  height: fit-content;
}
.path .pathdata .places h4 {
  font-size: 24px;
  font-weight: 600;
  color: #141414;
  margin-bottom: 8px;
}
.path .pathdata .places p {
  font-size: 16px;
  font-weight: 600;
  color: #4D4D4D;
  margin-bottom: 24px;
  text-align: center;
}
.path .pathdata .places .places-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  -moz-column-gap: 24px;
       column-gap: 24px;
  align-items: center;
  justify-content: center;
}
.path .pathdata .places .places-grid .place-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  gap: 15px;
}
.path .pathdata .places .places-grid .place-cont img {
  width: 30%;
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
.path .facilities-duration {
  margin-bottom: 32px;
  display: flex;
  gap: 22px;
  align-items: center;
}
.path .facilities-duration .facilities h3 {
  color: #141414;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 5px;
}
.path .facilities-duration .facilities .facilities-cont {
  display: flex;
  gap: 75px;
  flex-wrap: wrap;
  align-items: center;
}
.path .facilities-duration .facilities .facility-cont {
  display: flex;
  gap: 7px;
  flex-wrap: nowrap;
  align-items: center;
}
.path .facilities-duration .facilities .facility-cont img {
  width: 30px;
  aspect-ratio: 1/1;
  -o-object-fit: contain;
     object-fit: contain;
}
.path .facilities-duration .duration {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.path .facilities-duration .duration .hh {
  display: flex;
  align-items: center;
  gap: 10px;
}
.path .facilities-duration .duration .hh .trip-duration-head {
  font-size: 16px;
  font-weight: 700;
  color: #1e1e1e;
  margin-bottom: 0;
  text-wrap: nowrap;
}
.path .facilities-duration .duration .hh .trip-duration-title {
  font-size: 20px;
  font-weight: 700;
  color: #141414;
  margin-bottom: 0;
}
.path .facilities-duration .duration .trip-data {
  background-color: #347AC2;
  border-radius: 10px;
  padding: 12px 24px;
}
.path .facilities-duration .duration .trip-data h4 {
  font-size: 16px;
  font-weight: 700;
  color: #FAFAFA;
  margin-bottom: 0;
}
.path .facilities-duration .duration .trip-data p {
  font-size: 24px;
  font-weight: 700;
  color: #FAFAFA;
  margin-bottom: 0;
}
.path .activities {
  display: flex;
  padding: 24px;
  background-color: rgba(30, 198, 188, 0.1);
  border-radius: 30px;
  margin-bottom: 32px;
  flex-direction: column;
}
.path .activities h5 {
  font-size: 24px;
  font-weight: 600;
  color: #141414;
  margin-bottom: 8px;
}
.path .activities p {
  font-size: 16px;
  font-weight: 600;
  color: #4D4D4D;
  margin-bottom: 24px;
}
.path .activities .activities-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
  align-items: center;
  justify-content: space-around;
}
.path .activities .activities-grid .activity-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.path .activities .activities-grid .activity-cont img {
  width: 30%;
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
.path .activities .activities-grid .activity-cont p {
  font-size: 20px;
  font-weight: 600;
  color: #0361B5;
  margin-bottom: 0;
}

.destinations {
  margin-bottom: 56px;
  display: flex;
  flex-direction: column;
  gap: 56px;
}
.destinations .show-more {
  color: var(--main-color);
  font-size: 20px;
  font-weight: 500;
  margin-top: 10px;
  cursor: pointer;
  margin-bottom: 10px;
}
.destinations .destinations-drid {
  border-radius: 13px;
  padding: 24px;
  background-color: #F4F4F4;
  display: grid;
  gap: 10px;
  align-items: flex-start;
  grid-template-columns: repeat(2, 1fr);
}
.destinations .destinations-drid .destination {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}
.destinations .destinations-drid .destination .img-cont {
  width: 100%;
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
  overflow: hidden;
}
.destinations .destinations-drid .destination .img-cont img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.destinations .destinations-drid .destination .text {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.destinations .destinations-drid .destination .text h2 {
  font-size: 24px;
  font-weight: 700;
  color: #141414;
  margin-bottom: 0;
}
.destinations .destinations-drid .destination .text h3 {
  font-size: 16px;
  font-weight: 700;
  color: var(--main-color);
  margin-bottom: 10px;
}
.destinations .destinations-drid .destination .text p {
  font-size: 16px;
  font-weight: 500;
  color: #3C3C3C;
  margin-bottom: 0;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.destinations .ready {
  display: flex;
  padding: 24px;
  border-radius: 30px;
  align-items: center;
  flex-direction: column;
  background-color: rgba(2, 90, 180, 0.2);
}
.destinations .ready h2 {
  font-size: 24px;
  font-weight: 600;
  color: #141414;
  margin-bottom: 8px;
  text-align: center;
}
.destinations .ready p {
  font-size: 16px;
  font-weight: 600;
  color: #4D4D4D;
  margin-bottom: 32px;
  text-align: center;
}
.destinations .ready a {
  width: 100%;
  max-width: 350px;
  border-radius: 5px;
  background-color: var(--main-color);
  color: #FFFAFA;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}
.destinations .ready a:hover {
  background-color: var(--sec-color);
  color: #FFFAFA;
}

@media (max-width: 991px) {
  .path .pathdata {
    flex-direction: column;
    gap: 80px;
  }
  .path .facilities-duration {
    flex-direction: column;
    gap: 40px;
  }
  .destinations .destinations-drid {
    order: 2;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
  .destinations .ready {
    order: 1;
  }
}
@media (max-width: 767px) {
  .path .activities {
    padding: 12px;
  }
  .path .activities .activities-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
  }
  .path .activities .activities-grid .activity-cont img {
    width: 50%;
  }
  .path .pathHead h1 {
    color: #141414;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 0;
  }
  .path .pathHead a {
    padding: 10px 20pxf;
  }
  .path .pathdata .places {
    padding: 12px;
  }
  .path .pathdata .places .places-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .path .pathdata .places .places-grid .place-cont img {
    width: 50%;
  }
}
body {
  position: relative;
}

.popup {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  min-height: calc(100vh - 192px);
}
.popup .popup-cont {
  padding: 35px 40px;
  border-radius: 20px;
  background-color: var(--white-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 800px;
}
.popup .popup-cont img {
  width: 100px;
  height: 100px;
  margin-bottom: 25px;
}
.popup .popup-cont h2 {
  font-size: 32px;
  font-weight: 700;
  color: var(--black-color);
  margin-bottom: 20px;
}
.popup .popup-cont p {
  width: 100%;
  background-color: #E0FEE0;
  color: var(--black-color);
  font-size: 32px;
  font-weight: 600;
  padding: 20px 40px;
}

.PhoneInput {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.PhoneInput .PhoneInputCountry {
  display: flex;
  height: 55px;
  width: 105px;
  border-radius: 2px;
  border: 1px solid #e3e3e3;
  background-color: #F9F9F9;
  overflow: hidden;
  margin-top: 12px;
  margin-bottom: 16px;
  max-width: 110px;
}
.PhoneInput .PhoneInputCountrySelect {
  width: 100%;
}
@media screen and (max-width: 767px) {
  .PhoneInput .PhoneInputCountrySelect {
    font-size: 12px;
  }
}
.PhoneInput .PhoneInputCountryIcon {
  max-height: 100%;
  height: 55px;
  padding: 3px;
  max-width: 50px;
  display: none;
}
.PhoneInput .PhoneInputCountryIcon input:focus-visible {
  border: none;
  outline: none;
}
.PhoneInput .PhoneInputCountryIcon img {
  height: 100%;
  border-radius: 5px;
}
.PhoneInput .PhoneInputCountrySelectArrow {
  display: none;
}

.book-main-page .book-cont .form form .PhoneInputCountry {
  width: 106px;
  flex-shrink: 0;
}
@media screen and (max-width: 767px) {
  .book-main-page .book-cont .form form .PhoneInputCountry {
    width: 80px;
  }
}

.book-main-page .overlay {
  background-color: rgba(0, 0, 0, 0.7);
}
.book-main-page .book-cont {
  display: flex;
  gap: 100px;
  padding-top: 73px;
  padding-bottom: 73px;
  min-height: calc(100vh - 189px);
}
.book-main-page .book-cont .MazarInfo {
  z-index: 2;
}
.book-main-page .book-cont .MazarInfo img {
  width: 100%;
  height: auto;
  margin-bottom: 30px;
}
.book-main-page .book-cont .MazarInfo h2 {
  color: var(--white-color);
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 16px;
}
.book-main-page .book-cont .MazarInfo p {
  font-size: 20px;
  font-weight: 700;
  color: #E6E6E6;
  margin-bottom: 40px;
}
.book-main-page .book-cont .form {
  background-color: var(--white-color);
  z-index: 2;
  border-radius: 15px;
  padding: 24px;
}
.book-main-page .book-cont .form form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
}
.book-main-page .book-cont .form form div {
  width: 100%;
}
.book-main-page .book-cont .form form .captcha {
  padding-top: 8px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  padding-bottom: 40px;
}
.book-main-page .book-cont .form form .captcha div {
  width: auto;
}
.book-main-page .book-cont .form form .captcha .captcha-text {
  color: #ef4444;
  font-weight: 500;
  font-size: 0.8rem;
}
.book-main-page .book-cont .form label {
  font-size: 15px;
  font-weight: 700;
  color: #0A0A0A;
  width: 100%;
}
.book-main-page .book-cont .form input {
  margin-top: 12px;
  margin-bottom: 16px;
  box-shadow: none;
  padding: 15px 24px;
  height: 55px;
  width: 100%;
  border-radius: 2px;
  border: 1px solid #e3e3e3;
  background-color: #F9F9F9;
}
.book-main-page .book-cont .form .date-picker {
  border: 1px solid #e3e3e3;
  padding: 8px 24px;
  border-radius: 2px;
  font-size: 13px;
  font-weight: 400;
  margin-top: 12px;
  margin-bottom: 16px;
  background-color: #F9F9F9;
  height: 55px;
}
.book-main-page .book-cont .form .form-message {
  margin-bottom: 18px;
}
.book-main-page .book-cont .form .submit {
  padding: 15px 24px;
  border-radius: 5px;
  background-color: var(--main-color);
  color: var(--white-color);
}
.book-main-page .book-cont .form .submit:hover {
  background-color: var(--sec-color);
}
.book-main-page .book-cont .form .date-btn {
  text-align: start;
  color: #0A0A0A;
  font-size: 13px;
  font-weight: 400;
  background-color: #F9F9F9;
}

@media (max-width: 767px) {
  .book-main-page {
    position: relative;
  }
  .book-main-page .popup .popup-cont {
    margin-bottom: 150px;
  }
  .book-main-page .popup .popup-cont p {
    font-size: 16px;
  }
  .book-main-page .book-cont {
    flex-direction: column;
  }
}
.explore {
  display: flex;
  align-items: center;
  justify-content: center;
}
.explore .overll {
  background: rgb(0, 0, 0);
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 100%);
  padding: 64px 0;
  width: 100%;
}
.explore .overll .padg {
  background-color: #714D02;
  padding: 10px 24px;
  border-radius: 16px;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 16px;
}
.explore .overll .padg h3 {
  color: var(--white-color);
  font-family: "--font-merriweather";
  font-size: 32px;
  font-weight: 700;
}
@media screen and (max-width: 767px) {
  .explore .overll .padg h3 {
    font-size: 16px;
  }
}
.explore .overll h2 {
  font-size: 42px;
  font-weight: 700;
  color: var(--white-color);
  margin-bottom: 32px;
  max-width: 550px;
}
@media screen and (max-width: 767px) {
  .explore .overll h2 {
    font-size: 24px;
  }
}
.explore .overll a {
  font-size: 20px;
  font-weight: 700;
}
@media screen and (max-width: 767px) {
  .explore .overll a {
    width: 100%;
    text-align: center;
  }
}
.explore .overll a:hover {
  background-color: var(--sec-color);
}

.semi-about .genGeb .genSection {
  padding-top: 0;
  padding-bottom: 40px;
  justify-content: space-between;
}
.semi-about .genGeb .genSection .l-side {
  gap: 0;
}
.semi-about .genGeb .genSection .l-side h2 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 0;
}
.semi-about .genGeb .genSection .l-side h3 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 16px;
}
.semi-about .genGeb .genSection .l-side p {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 0;
}
.semi-about .img-cont-semi {
  width: 100%;
  max-width: 376px;
}

.parteners {
  padding: 30px 0;
  background-color: #E7F3FF;
  margin-bottom: 50px;
}
.parteners h2 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 16px;
  color: #141414;
}
@media screen and (max-width: 767px) {
  .parteners h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
}
.parteners .gap-custom {
  gap: 95px;
  margin-left: 40px;
}

.parts-cont {
  height: 108px;
}
.parts-cont .partss {
  width: 100%;
  height: 100%;
}
.parts-cont .part-cont {
  height: 108px;
}
.parts-cont img {
  height: 60%;
  width: auto;
  opacity: 0.7;
}
.parts-cont img:hover {
  opacity: 1;
  transform: scale(1.2);
}

.gallery {
  padding: 47px 0;
}
.gallery h2 {
  font-size: 32px;
  font-weight: 700;
  color: #141414;
  margin-bottom: 0px;
}
.gallery p {
  font-size: 24px;
  font-weight: 400;
  color: #5A5A5A;
  margin-bottom: 40px;
}
.gallery .tabs {
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto 26px;
  display: flex;
  gap: 24px;
}
.gallery .tabs .tab {
  color: #181818;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}
.gallery .tabs .tab.active {
  color: var(--main-color);
}

/* From Uiverse.io by Z4drus */
.loading-cont {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 122px);
}

.loader {
  position: relative;
  width: 200px;
  height: 200px;
  perspective: 800px;
}

.crystal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60px;
  height: 60px;
  opacity: 0;
  transform-origin: bottom center;
  transform: translate(-50%, -50%) rotateX(45deg) rotateZ(0deg);
  animation: spin 4s linear infinite, emerge 2s ease-in-out infinite alternate, fadeIn 0.3s ease-out forwards;
  border-radius: 10px;
  visibility: hidden;
}

@keyframes spin {
  from {
    transform: translate(-50%, -50%) rotateX(45deg) rotateZ(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotateX(45deg) rotateZ(360deg);
  }
}
@keyframes emerge {
  0%, 100% {
    transform: translate(-50%, -50%) scale(0.5);
    opacity: 0;
  }
  50% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
}
@keyframes fadeIn {
  to {
    visibility: visible;
    opacity: 0.8;
  }
}
.crystal:nth-child(1) {
  background: linear-gradient(45deg, #003366, #336699);
  animation-delay: 0s;
}

.crystal:nth-child(2) {
  background: linear-gradient(45deg, #003399, #3366cc);
  animation-delay: 0.3s;
}

.crystal:nth-child(3) {
  background: linear-gradient(45deg, #0066cc, #3399ff);
  animation-delay: 0.6s;
}

.crystal:nth-child(4) {
  background: linear-gradient(45deg, #0099ff, #66ccff);
  animation-delay: 0.9s;
}

.crystal:nth-child(5) {
  background: linear-gradient(45deg, #33ccff, #99ccff);
  animation-delay: 1.2s;
}

.crystal:nth-child(6) {
  background: linear-gradient(45deg, #66ffff, #ccffff);
  animation-delay: 1.5s;
}

.content {
  padding: 48px 0;
  background-color: #E7F3FF;
}
.content h3 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 40px;
}
.content .swiper-slide {
  padding-top: 20px;
}
.content .content-card {
  padding: 20px 16px;
  background-color: var(--white-color);
  border-radius: 16px;
}
.content .content-card:hover {
  transform: translateY(-20px);
}
.content .content-card:hover .img-cont .overlay {
  background-color: rgba(0, 0, 0, 0);
}
.content .content-card .img-cont {
  width: 100%;
  aspect-ratio: 315/202;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 16px;
  position: relative;
}
.content .content-card .img-cont .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 10;
}
.content .content-card img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.content .content-card h4 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 12px;
}
.content .content-card p {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 33px;
  color: #282828;
}

.date-book {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.date-book .book-link {
  padding: 8px 32px;
  color: var(--white-color);
  border-radius: 5px;
  background-color: var(--main-color);
  width: -moz-fit-content;
  width: fit-content;
}
.date-book .book-link:hover {
  background-color: var(--main-hover);
}
.date-book .date {
  display: flex;
  align-items: center;
  gap: 4px;
  color: #464646;
}
.date-book .date i {
  font-size: 24px;
}
.date-book .date span {
  font-size: 16px;
  font-weight: 500;
}

.latest {
  background-color: var(--white-color);
}
.latest h3 {
  margin-bottom: 10px;
}
.latest .content-card:hover {
  transform: translateY(-20px);
  background-color: rgba(2, 90, 180, 0.1);
}
.latest .content-card:hover .img-cont .overlay {
  background-color: rgba(0, 0, 0, 0);
}
.latest .content-card:hover .img-cont .overlay .padge {
  background-color: var(--main-color);
}
.latest .content-card .img-cont .overlay {
  display: flex;
  justify-content: flex-end;
}
.latest .content-card .img-cont .overlay .padge {
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: var(--sec-color);
  color: var(--white-color);
  padding: 8px 16px;
  border-radius: 7px;
  margin: 16px;
}
.latest .content-card p {
  margin-bottom: 0;
}

.blog h3 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 32px;
}
.blog p {
  font-size: 16px;
  font-weight: 500;
  color: #282828;
  margin-bottom: 16px;
}
.blog h4 {
  font-size: 24px;
  font-weight: 700;
  margin: 32px 0;
}

.blog .container > .img-cont {
  margin: 56px 0;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  position: relative;
}
.blog .container > .img-cont .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}
.blog .container > .img-cont .overlay:hover {
  opacity: 0;
}
.blog .container > .img-cont img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}/*# sourceMappingURL=main.css.map */